

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.problem p:nth-child(1) { text-align: right; }
.problem p:nth-child(2) { float: left; }
.problem p:nth-child(3) { float: right; }















